/bootstrap/compiled.php
/vendor
/node_modules
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/.idea/*
.idea/Karakata.iml
/app/storage/cache
/app/storage/clockwork
/app/storage/logs
/app/storage/meta
/app/storage/sessions
/app/storage/views
/uploads/*
/karakata/*
/karakatamm/*

.idea/vcs.xml

.idea/workspace.xml

tests/logs/output.html

.env

karakata.zip

app/storage/settings.json

app/storage/installation.json

*.zip

readme.md

Showcase-Template-Flat-Presentation-Vol-2.jpg

readme.md

karkata images.zip
