body {
    background-color: #EEEEEE;
}
.ui.grid.main{
    margin-top: 70px;
}


.mobile.row{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
    border-radius: 0px !important;
}

.padding-reset{
    padding: 0px !important;
}

.ui.message.cta{
    padding: 40px !important;
    background: url(../../images/bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 300px;*/
    color: white;

}
/*.ui.message h1, div.sub.header {*/
    /*color: #ffffff !important;*/
/*}*/

.ui.navbar {
    background-color: white !important;
}

@media (max-width: 767px) {
    .ui.grid.main{
        margin-top: 70px;
    }

    .ui.grid { margin: 0 !important; }
    .ui.vertical.menu.navbar{
        margin-top: 0px !important;
    }
}

.ui.vertical.navbar.menu{
    margin-top: -15px !important;
    width: 100%;
    display: none;
}

.ui.secondary.vertical.pointing.side.menu {
    width: 100%;
}

.ui.card.fullheight {
    height: 100%;
}

.bx-next, .bx-prev {
    z-index: 80 !important;
}

.ui.fixed.navbar.padded {
    height: 70px;
}

