body {
    background-color: #EEEEEE;
}

.ui.grid.main {
    margin-top: 70px;
}

.mobile.row {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu {
    border-radius: 0px !important;
}

.padding-reset {
    padding: 0px !important;
}

.ui.message.cta {
    padding: 40px !important;
    background: url(../../images/bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /*min-height: 300px;*/
    color: white;

}

/*.ui.message h1, div.sub.header {*/
/*color: #ffffff !important;*/
/*}*/

.ui.navbar {
    background-color: white !important;
}

@media (max-width: 767px) {
    .ui.grid.main {
        margin-top: 70px;
    }

    .ui.grid {
        margin: 0 !important;
    }

    .ui.vertical.menu.navbar {
        margin-top: 0px !important;
    }
}

.ui.vertical.navbar.menu {
    margin-top: -15px !important;
    width: 100%;
    display: none;
}

.ui.secondary.vertical.pointing.side.menu {
    width: 100%;
}

.ui.card.fullheight {
    height: 100%;
}

.bx-next, .bx-prev {
    z-index: 80 !important;
}

.ui.fixed.navbar.padded {
    height: 70px;
}

.left-align {
    text-align: left;
}

.real-bordered {
    border: 1px solid #d0d0d0;
}

.fl-right {
    float: right;
}

.ribbon-wrap {
    position: relative;
    left: -41px;
    top: 49px;
    width: 150px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-color: #A333C8;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #A333C8;
    box-shadow: 0px 6px 5px -5px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.ribbon-wrap.fl-right {
    left: inherit;
    right: -41px;
    top: 19px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.ribbon-wrap .trap-ribbon {
    position: absolute;
    left: -15px;
    top: 2px;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.7);
    width: 120px;
    text-align: center;
}

.ribbon-wrap .trap-ribbon a {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #d8d8d8;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 22px;
    display: inline-block;
    border-top: 1px dotted rgba(255, 255, 255, 0.7);
    transition: color 500ms ease;
}

.ribbon-wrap .trap-ribbon a:hover {
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.85);
}

@media only screen and (max-width: 1919px) and (min-width: 1200px) {
    .ui.page.grid {
        padding-left: 10%;
        padding-right: 10%;
    }

}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.page.grid {
        padding-left: 0.2%;
        padding-right: 0.2%;
    }

    .ui.grid.container {
        width: 100% !important;
    }

    .ui.container {
        width: 98%;
    }
}

@media only screen and (max-width: 767px) {
    .ui.container {
        width: 100%;
    }
}


